# SCRAPE DATA FROM CAREER VIET WEBSITE

In [ ]:
# access career Viet
# search " Data analyst" Role
# Scrape and write into csv file

## Task 1 : Access career Viet

In [7]:
#import necessary library
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from time import sleep
print ('Finish importing package')

Finish importing package

In [175]:
# Open Edge and access to "CareerViet" site
driver = webdriver.Edge()
url ='https://careerviet.vn/'
driver.get(url)
sleep(2)
print('Finish open careerViet')

Finish open careerViet

## Task2 : Search all the job with the title "Data analyst"

In [176]:
keyword = input('PLease input the position you want to crawl') # find the title" DA"

Search_field = driver.find_element( By.ID , 'keyword') #locate the search field
Search_field.send_keys(keyword) # send the keyword into the search
print('Finish key in')
sleep(2)
    
Search_button_field = driver.find_element(By.XPATH ,'/html/body/main/div[1]/section[2]/div/div/div[1]/form/div[4]/button') # move to "search" button
Search_button_field.click() #click on that button
sleep(5)
print('Finish search')

PLease input the position you want to crawl Business Intelligence

Finish key in
Finish search

## Task 3 : Scape all the links using Beauttiful Soup

In [153]:
#block 1
def getURL(): # create a function for scraping all the links in a page
    page_source = BeautifulSoup(driver.page_source,'html.parser') # parse all the information in that page
    profiles = page_source.find_all('a',class_ = 'job_link') #find all the "a" tag with the 'job_link' class
    all_profiles_URL =[] # create empy list too contain all the links
    sleep(1)
    for i,profile in enumerate(profiles): # loop through all the links in the profile
        profile_URL = profile.get('href') # find the link using href
        if profile_URL not in all_profiles_URL: # if that link does not occur in the list, append it to the list. Otherwise remove it
            all_profiles_URL.append(profile_URL)
    return all_profiles_URL

In [154]:
#block2
try:
    #Define the number of page you want tto scrape
    number_of_crawling_page = int(input('Please enter the number of page you want to crawl : '))
    all_URL_page =[] # create an empty list
    for i in range(number_of_crawling_page) :
        url_one_page= getURL() # get all the links in 1 page
        sleep(2) # slowdown the program
        print('Get URL done')
        Next_button = driver.find_element(By.CLASS_NAME ,'mdi-chevron-right') # move to next page
        Next_button.click() #click on the next button and continue the loop
        print('Click next done')
        all_URL_page = all_URL_page + url_one_page
        sleep(2)
        print('add to the list done')
    print('all done')
except:
    pass
all_URL_page

Please enter the number of page you want to crawl :  4

Get URL done
Click next done
add to the list done
Get URL done
Click next done
add to the list done
Get URL done
Click next done
add to the list done
Get URL done

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".mdi-chevron-right"}
  (Session info: MicrosoftEdge=128.0.2739.79); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7E2AB3A22+10594]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF7E2A50449+323337]
	(No symbol) [0x00007FF7E286F16E]
	(No symbol) [0x00007FF7E28B656E]
	(No symbol) [0x00007FF7E28B65F5]
	(No symbol) [0x00007FF7E28F4157]
	(No symbol) [0x00007FF7E28D7BBF]
	(No symbol) [0x00007FF7E28ABEDD]
	(No symbol) [0x00007FF7E28F1B07]
	(No symbol) [0x00007FF7E28D77E3]
	(No symbol) [0x00007FF7E28AB3EC]
	(No symbol) [0x00007FF7E28AA8CD]
	(No symbol) [0x00007FF7E28AAFB1]
	Microsoft::Applications::Events::EventProperty::empty [0x00007FF7E2C3E4C4+918756]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF7E29DC9BF+54575]
	Microsoft::Applications::Events::EventProperty::~EventProperty [0x00007FF7E29CF557+199]
	Microsoft::Applications::Events::EventProperty::empty [0x00007FF7E2C3D24D+914029]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF7E2A57ED1+354705]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF7E2A54384+339524]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF7E2A544B9+339833]
	Microsoft::Applications::Events::ILogConfiguration::operator* [0x00007FF7E2A4AD7C+301116]
	BaseThreadInitThunk [0x00007FF9EEB1257D+29]
	RtlUserThreadStart [0x00007FF9F078AF28+40]

## Task 4 : Scrape all the information in each link using Beautiful Soup

In [155]:
#block3
# Use beautifulsoup to scrape all the contend of a webpage
import csv
with open(r'F:\DATA ANALYST\Python\careerviet_crawl.csv', 'w', encoding = 'utf-8-sig', newline = '') as output_file:
    headers = ['Company name','Title','Domain','Position','Experience','Salary','Location']
    
    #method to write header
    writer = csv.DictWriter( output_file , delimiter = ',', lineterminator = '\n' , fieldnames = headers)
    writer.writeheader()
    all_URL_page_test = all_URL_page[1:10]
    #Loop through each post and scrape all data
    for link in all_URL_page_test: # for loop run
        try:
            driver.get(link) # go to the link
            page_source = BeautifulSoup(driver.page_source, 'html.parser') # parse all the data from that page
            #Find theh position and company name
            info_name_position_div = page_source.find('div' , class_ = 'apply-now-content') #find the div tag which contain company name , title
            position = info_name_position_div.find('h1', class_ = 'title').get_text().strip() #extract the position of the link
            company_name = info_name_position_div.find('a', class_ = 'employer job-company-name').get_text().strip() #extract the company name of the link
            #good
            
            #Find the domain
            info_domain_div = page_source.find_all('div' , class_ = 'detail-box has-background')[0] #find the div tag which contain domain of the link
            domain = info_domain_div.find_all('li')[1].find('a').get_text().strip() #extract the domain of the link
            #good
            
            #Find the salary, experience, level
            info_salary_exp_level_div = page_source.find_all('div' , class_ = 'detail-box has-background')[1] #find the div tag which contain salary, experience, level
            salary = info_salary_exp_level_div.find_all('p')[0].get_text().strip() #extract the salary of the link
            experience =" ".join(info_salary_exp_level_div.find_all('p')[1].get_text().replace('\n','').strip().split()) #extract the experience of the link
            level = info_salary_exp_level_div.find_all('p')[2].get_text().strip() #extract the level of the link
            #good
            
            #Find the location
            info_location_div = page_source.find('div' , class_ = 'detail-box')
            location = info_location_div.find('p').get_text().strip() 
            #good
            
            print(position)
            print(company_name)
            print(domain)
            print(salary)
            print(experience)
            print(level)
            print(location)
            writer.writerow({headers[0]:company_name ,headers[1]:position,headers[2]:domain,headers[3]:level, \
            headers[4]:experience , headers[5]:salary,headers[6]:location})
            sleep(1) #slowdown the program
        except:
            pass

Data Analyst
Công ty TNHH Minh Long I
CNTT - Phần mềm
20 Tr - 28 Tr VND
3 - 5 Năm
Nhân viên
Bình Dương
Data Analyst
Công ty TNHH Viettel - CHT
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Data Analyst
Công Ty Cổ Phần Giải Pháp Thanh Toán Việt Nam (VNPAY)
CNTT - Phần mềm
12 Tr - 22 Tr VND
1 - 2 Năm
Nhân viên
Hà Nội
Data Analyst
PHÒNG KHÁM QUỐC TẾ MEGA GANGNAM
Kế toán / Kiểm toán
20 Tr - 25 Tr VND
2 - 3 Năm
Nhân viên
Hà Nội
Data Analyst
CÔNG TY TRÁCH NHIỆM HỮU HẠN TRUNG SƠN ALPHA (Hệ thống Nhà thuốc Trung Sơn)
Vận chuyển / Giao nhận /  Kho vận
12 Tr - 15 Tr VND
Trên 3 Năm
Quản lý
Cần Thơ
Data Analyst
DatVietVAC Group Holdings
CNTT - Phần mềm
20 Tr - 35 Tr VND
1 - 4 Năm
Nhân viên
Hồ Chí Minh
Data Analyst
CÔNG TY CỔ PHẦN KINH DOANH F88
Ngân hàng
Cạnh tranh
Trên 2 Năm
Nhân viên
Hồ Chí Minh
IT Data Analyst
Công Ty TNHH XNK Đại Dương Xanh
CNTT - Phần mềm
15 Tr - 18 Tr VND
2 - 5 Năm
Nhân viên
Hồ Chí Minh
Senior Data Analyst
CÔNG TY CỔ PHẦN KINH DOANH F88
CNTT - Phần mềm
20 Tr - 35 Tr VND
Trên 3 Năm
Nhân viên
Hà Nội

# Final version

## CRAWL DATA

### Task 1 : Import libraries and open edge

In [2]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from time import sleep
print ('Finish importing package')

Finish importing package

In [3]:
# Open Edge and access to "CareerViet" site
driver = webdriver.Edge()
url ='https://careerviet.vn/'
driver.get(url)
sleep(2)
print('Finish open careerViet')

Finish open careerViet

### Task 2 : Input the data you want to scrape

In [8]:
keyword = input('PLease input the position you want to crawl') # find the title that need to be scraped

Search_field = driver.find_element( By.ID , 'keyword') #locate the search field
Search_field.send_keys(keyword) # send the keyword into the search
print('Finish key in')
sleep(2)
    
Search_button_field = driver.find_element(By.XPATH ,'/html/body/main/div[1]/section[2]/div/div/div[1]/form/div[4]/button') # move to "search" button
Search_button_field.click() #click on that button
sleep(5)
print('Finish search')

PLease input the position you want to crawl Business Intelligence

Finish key in
Finish search

### Task 3 : Write the function to scrape the data

In [4]:
# Define scaping function
def crawl_data():
    #block 1
    def getURL(): # create a function for scraping all the links in a page
        page_source = BeautifulSoup(driver.page_source,'html.parser') # parse all the information in that page
        profiles = page_source.find_all('a',class_ = 'job_link') #find all the "a" tag with the 'job_link' class
        all_profiles_URL =[] # create empy list too contain all the links
        sleep(1)
        for i,profile in enumerate(profiles): # loop through all the links in the profile
            profile_URL = profile.get('href') # find the link using href
            if profile_URL not in all_profiles_URL: # if that link does not occur in the list, append it to the list. Otherwise remove it
                all_profiles_URL.append(profile_URL)
        return all_profiles_URL

    #block 2
    try:
        #Define the number of page you want tto scrape
        number_of_crawling_page = int(input('Please enter the number of page you want to crawl : '))
        all_URL_page =[] # create an empty list
        for i in range(number_of_crawling_page) :
            url_one_page= getURL() # get all the links in 1 page
            sleep(2) # slowdown the program
            print('Get URL done')
            Next_button = driver.find_element(By.CLASS_NAME ,'mdi-chevron-right') # move to next page
            Next_button.click() #click on the next button and continue the loop
            print('Click next done')
            all_URL_page = all_URL_page + url_one_page
            sleep(2)
            print('add to the list done')
        print('all done')
    except:
        pass
    all_URL_page

    #block 3
    import csv
    with open(r'F:\DATA ANALYST\Python\careerviet_crawl.csv', 'w', encoding = 'utf-8-sig', newline = '') as output_file:
        headers = ['Company name','Title','Domain','Position','Experience','Salary','Location']
        
        #method to write header
        writer = csv.DictWriter( output_file , delimiter = ',', lineterminator = '\n' , fieldnames = headers)
        writer.writeheader()
        #Loop through each post and scrape all data
        for link in all_URL_page: # for loop run
            try:
                driver.get(link) # go to the link
                page_source = BeautifulSoup(driver.page_source, 'html.parser') # parse all the data from that page
                #Find theh position and company name
                info_name_position_div = page_source.find('div' , class_ = 'apply-now-content') #find the div tag which contain company name , title
                position = info_name_position_div.find('h1', class_ = 'title').get_text().strip() #extract the position of the link
                company_name = info_name_position_div.find('a', class_ = 'employer job-company-name').get_text().strip() #extract the company name of the link
                #good
                
                #Find the domain
                info_domain_div = page_source.find_all('div' , class_ = 'detail-box has-background')[0] #find the div tag which contain domain of the link
                domain = info_domain_div.find_all('li')[1].find('a').get_text().strip() #extract the domain of the link
                #good
                
                #Find the salary, experience, level
                info_salary_exp_level_div = page_source.find_all('div' , class_ = 'detail-box has-background')[1] #find the div tag which contain salary, experience, level
                salary = info_salary_exp_level_div.find_all('p')[0].get_text().strip() #extract the salary of the link
                experience =" ".join(info_salary_exp_level_div.find_all('p')[1].get_text().replace('\n','').strip().split()) #extract the experience of the link
                level = info_salary_exp_level_div.find_all('p')[2].get_text().strip() #extract the level of the link
                #good
                
                #Find the location
                info_location_div = page_source.find('div' , class_ = 'detail-box')
                location = info_location_div.find('p').get_text().strip() 
                #good
                
                print(position)
                print(company_name)
                print(domain)
                print(salary)
                print(experience)
                print(level)
                print(location)
                writer.writerow({headers[0]:company_name ,headers[1]:position,headers[2]:domain,headers[3]:level, \
                headers[4]:experience , headers[5]:salary,headers[6]:location})
                sleep(1) #slowdown the program
            except:
                pass

    return None

### Task 4 : Run the function

In [9]:
#Run function
crawl_data()

Please enter the number of page you want to crawl :  5

Get URL done
Click next done
add to the list done
Get URL done
Click next done
add to the list done
Get URL done
Click next done
add to the list done
Get URL done
Click next done
add to the list done
Get URL done
Business Intelligence
CÔNG TY CỔ PHẦN DAYONE ASIA
CNTT - Phần mềm
12 Tr - 16 Tr VND
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Business Intelligence
Công Ty Cổ Phần Metub Việt Nam
CNTT - Phần mềm
Cạnh tranh
1 - 2 Năm
Nhân viên
Hà Nội
Business Intelligence Developer
CÔNG TY CỔ PHẦN VUA NỆM
Bán lẻ / Bán sỉ
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Business Intelligence Consultant
CÔNG TY TNHH TRANSCOSMOS VIỆT NAM
Dịch vụ khách hàng
25 Tr - 30 Tr VND
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Business Intelligence Advisory Manager
CÔNG TY CỔ PHẦN GIẢI PHÁP THANH TOÁN SỐ (ứng dụng MFAST)
Thống kê
Cạnh tranh
5 - 10 Năm
Quản lý
Hồ Chí Minh
Senior Business Intelligence
Công Ty Cổ Phần Giải Pháp Thanh Toán Số
Ngân hàng
Cạnh tranh
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Junior Business Intelligence Analyst
CÔNG TY CỔ PHẦN VUA NỆM
Bán lẻ / Bán sỉ
Cạnh tranh
Lên đến 2 Năm
Nhân viên
Hà Nội
[Temporary] Business Intelligence Developer
Công Ty TNHH Interflour Việt Nam
Sản xuất / Vận hành sản xuất
Cạnh tranh
2 - 4 Năm
Nhân viên
Hồ Chí Minh
Senior Business Intelligence Analyst
Yes4All Trading Services Company Limited
CNTT - Phần mềm
Cạnh tranh
3 - 6 Năm
Nhân viên
Hồ Chí Minh
Senior Business Intelligence Analyst - Ecosystem Center - TA139 - Hà Nội
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
CNTT - Phần cứng / Mạng
Cạnh tranh
3 - 5 Năm
Nhân viên
Hà Nội
Business Intelligence Analyst | meLive
Công Ty Cổ Phần Metub Việt Nam
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hồ Chí Minh
Business Intelligence Senior Analyst
Công Ty CP Vàng Bạc Đá Quý Phú Nhuận - PNJ
Bán lẻ / Bán sỉ
Cạnh tranh
Trên 4 Năm
Nhân viên
Hồ Chí Minh
Business Intelligence Manager
Tập Đoàn Nguyên Liệu Á Châu (AIG)
Thực phẩm & Đồ uống
Cạnh tranh
5 - 7 Năm
Quản lý
Hồ Chí Minh
Unit Head of Digital Business Intelligence & Sales planning
CÔNG TY TÀI CHÍNH TNHH NGÂN HÀNG TMCP SÀI GÒN - HÀ NỘI  (SHBFinance)
Ngân hàng
Cạnh tranh
4 - 5 Năm
Nhân viên
Hồ Chí Minh
Senior Business Intelligence Analyst - Corporate Banking - Hà Nội - TA139
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
CNTT - Phần mềm
Cạnh tranh
3 - 5 Năm
Nhân viên
Hà Nội
[Ban Tài Chính - HO HN] Chuyên Viên Báo Cáo Quản Trị (Business Intelligence)
ABBANK - Ngân Hàng TMCP An Bình
Ngân hàng
600 - 1,000 USD
Trên 2 Năm
Nhân viên
Hà Nội
Chuyên Viên Cao Cấp Phân Tích Kinh Doanh (Business Intelligent Analyst) - MSB - DT - 1M455
Ngân hàng Thương mại Cổ phần Hàng Hải Việt Nam (MSB)
Ngân hàng
Cạnh tranh
2 - 15 Năm
Nhân viên
Hà Nội
Senior IT Business Analyst
CÔNG TY TÀI CHÍNH TNHH NGÂN HÀNG TMCP SÀI GÒN - HÀ NỘI  (SHBFinance)
CNTT - Phần cứng / Mạng
Cạnh tranh
3 - 5 Năm
Nhân viên
Hồ Chí Minh
Technical Sales
CÔNG TY TNHH TRANSCOSMOS VIỆT NAM
Dịch vụ khách hàng
25 Tr - 30 Tr VND
2 - 3 Năm
Trưởng nhóm / Giám sát
Hồ Chí Minh
Chuyên viên Phân tích nghiệp vụ (IT Business Analyst)
Ngân Hàng Xây Dựng
CNTT - Phần mềm
10 Tr - 18 Tr VND
Trên 1 Năm
Nhân viên
Hà NộiHồ Chí Minh
IT Business Analyst
Công Ty Cổ Phần Metub Việt Nam
CNTT - Phần mềm
Cạnh tranh
3 - 5 Năm
Nhân viên
Hà Nội
Senior IT Business Analyst
NGÂN HÀNG TMCP KỸ THƯƠNG VIỆT NAM (TECHCOMBANK)
Ngân hàng
Cạnh tranh
Trên 5 Năm
Nhân viên
Hà Nội
Senior IT Business Analyst
DatVietVAC Group Holdings
CNTT - Phần mềm
Cạnh tranh
1 - 3 Năm
Nhân viên
Hồ Chí Minh
Business Development / Technical Sales
CÔNG TY TNHH TRANSCOSMOS VIỆT NAM
Dịch vụ khách hàng
25 Tr - 30 Tr VND
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Data Analyst
CÔNG TY CỔ PHẦN KINH DOANH F88
Tài chính / Đầu tư
Cạnh tranh
Trên 2 Năm
Nhân viên
Hồ Chí Minh
Senior Data Analyst
UrBox - Công ty Cổ phần Tiếp Thị Số Tô Quà
Kế toán / Kiểm toán
Cạnh tranh
Trên 4 Năm
Nhân viên
Hà Nội
Market Insights Manager
Công ty CP Nguyên Liệu Thực Phẩm Á Châu Sài Gòn (AFI)
Thực phẩm & Đồ uống
Cạnh tranh
4 - 15 Năm
Quản lý
Hồ Chí Minh
[DI6] IT Business Analyst - MSB - 1Y563
Ngân hàng Thương mại Cổ phần Hàng Hải Việt Nam (MSB)
Ngân hàng
1,000 - 1,500 USD
2 - 3 Năm
Nhân viên
Hà Nội
Data Analyst
CÔNG TY CỔ PHẦN KINH DOANH F88
Ngân hàng
Cạnh tranh
Trên 2 Năm
Nhân viên
Hồ Chí Minh
Senior Business Analyst
DIGI-TEXX VIETNAM
CNTT - Phần mềm
Cạnh tranh
5 - 6 Năm
Nhân viên
Hồ Chí Minh
Senior Business Analyst
CÔNG TY TÀI CHÍNH TNHH NGÂN HÀNG TMCP SÀI GÒN - HÀ NỘI  (SHBFinance)
CNTT - Phần mềm
Cạnh tranh
4 - 5 Năm
Nhân viên
Hà Nội
Nhân viên phân tích nghiệp vụ (Ví)
Công Ty Cổ Phần Giải Pháp Thanh Toán Việt Nam (VNPAY)
CNTT - Phần mềm
Cạnh tranh
1 - 2 Năm
Nhân viên
Hà Nội
Nhân Viên Phân Tích Nghiệp Vụ BA
Công ty Cổ phần đầu tư phát triển máy Việt Nam
Bưu chính viễn thông
12 Tr - 15 Tr VND
1 - 2 Năm
Nhân viên
Hà Nội
Nhân viên phân tích nghiệp vụ (Einvoice)
Công Ty Cổ Phần Giải Pháp Thanh Toán Việt Nam (VNPAY)
CNTT - Phần mềm
Cạnh tranh
1 - 3 Năm
Nhân viên
Hà Nội
Senior Reporting Analyst
Yes4All Trading Services Company Limited
Kế toán / Kiểm toán
Cạnh tranh
3 - 4 Năm
Nhân viên
Hồ Chí Minh
Senior Business Analyst (LOS/CRM System)
CÔNG TY TÀI CHÍNH TNHH NGÂN HÀNG TMCP SÀI GÒN - HÀ NỘI  (SHBFinance)
CNTT - Phần mềm
Cạnh tranh
3 - 5 Năm
Nhân viên
Hà Nội
IT Data Analyst
Công Ty TNHH XNK Đại Dương Xanh
CNTT - Phần mềm
15 Tr - 18 Tr VND
2 - 5 Năm
Nhân viên
Hồ Chí Minh
Lead Data Analyst
CÔNG TY CỔ PHẦN Z HOLDING
Tiếp thị / Marketing
30 Tr - 45 Tr VND
2 - 3 Năm
Trưởng nhóm / Giám sát
Hà Nội
Chuyên Viên Data Analyst
CÔNG TY CỔ PHẦN Z HOLDING
Tiếp thị / Marketing
18 Tr - 25 Tr VND
2 - 3 Năm
Nhân viên
Hà Nội
NHÂN VIÊN DATA ANALYST
CÔNG TY CỔ PHẦN CÔNG NGHỆ PHẨM BA ĐÌNH
Bán lẻ / Bán sỉ
Cạnh tranh
1 - 5 Năm
Nhân viên
Hà Nội
Chuyên viên Data Analyst
CÔNG TY CỔ PHẦN Z HOLDING
Bán lẻ / Bán sỉ
18 Tr - 25 Tr VND
2 - 3 Năm
Nhân viên
Hà Nội
Senior Data Analyst
CÔNG TY CỔ PHẦN KINH DOANH F88
CNTT - Phần mềm
20 Tr - 35 Tr VND
Trên 3 Năm
Nhân viên
Hà Nội
Site Data Analyst
Công Ty Camso Việt Nam
Sản xuất / Vận hành sản xuất
Cạnh tranh
Trên 3 Năm
Nhân viên
Bình Dương
Senior Data Analyst
Yes4All Trading Services Company Limited
CNTT - Phần mềm
Cạnh tranh
3 - 6 Năm
Nhân viên
Hồ Chí Minh
NHÂN VIÊN PHÂN TÍCH KINH DOANH
Công ty TNHH Minh Long I
Bán hàng / Kinh doanh
15 Tr - 20 Tr VND
3 - 4 Năm
Nhân viên
Bình DươngHồ Chí Minh
97783 - Business Analyst - Software
RGF HR Agent Vietnam Co., LTD
CNTT - Phần mềm
20 Tr - 40 Tr VND
Trên 4 Năm
Nhân viên
Đà Nẵng
Business Analyst Supervisor
CÔNG TY CỔ PHẦN GIÁO DỤC SAPP
CNTT - Phần mềm
17 Tr - 22 Tr VND
Trên 3 Năm
Trưởng nhóm / Giám sát
Hà Nội
Business Analyst Manager
DIGI-TEXX VIETNAM
CNTT - Phần mềm
Cạnh tranh
4 - 5 Năm
Quản lý
Hồ Chí Minh
[PHENIKAA SMART SCHOOL] Business Analyst
CTCP Dịch vụ và giải pháp công nghệ giáo dục PHX
CNTT - Phần mềm
Lên đến  20 Tr VND
Trên 2 Năm
Nhân viên
Hà Nội
Giảng viên Data Analyst/ Data System
Công ty Cổ phần Hướng nghiệp Á Âu
Bưu chính viễn thông
15 Tr - 30 Tr VND
3 - 5 Năm
Trưởng nhóm / Giám sát
Hồ Chí Minh
Senior Financial Analyst
Highlands Coffee
Kế toán / Kiểm toán
Cạnh tranh
Trên 5 Năm
Nhân viên
Hồ Chí Minh
Software Detailed Design Engineer - Business Analyst
Công Ty TNHH Lampart
CNTT - Phần mềm
Cạnh tranh
3 - 5 Năm
Nhân viên
Hồ Chí Minh
Chuyên viên Phân tích dữ liệu (Data Analyst)
Tổng Công ty Cổ phần Công trình Viettel
Bán hàng / Kinh doanh
18 Tr - 25 Tr VND
Trên 1 Năm
Nhân viên
Hà Nội
Data Analyst
Công Ty Cổ Phần Giải Pháp Thanh Toán Việt Nam (VNPAY)
CNTT - Phần mềm
12 Tr - 22 Tr VND
1 - 2 Năm
Nhân viên
Hà Nội
Data Analyst
Công ty TNHH Minh Long I
CNTT - Phần mềm
20 Tr - 27 Tr VND
3 - 5 Năm
Nhân viên
Bình Dương
Data Analyst
CÔNG TY CỔ PHẦN DAYONE ASIA
Giáo dục / Đào tạo
18 Tr - 25 Tr VND
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Data Analyst
Công ty TNHH Viettel - CHT
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Data Analyst
CÔNG TY TRÁCH NHIỆM HỮU HẠN TRUNG SƠN ALPHA (Hệ thống Nhà thuốc Trung Sơn)
Vận chuyển / Giao nhận /  Kho vận
12 Tr - 15 Tr VND
Trên 3 Năm
Quản lý
Cần Thơ
Data Analyst
DatVietVAC Group Holdings
CNTT - Phần mềm
20 Tr - 35 Tr VND
1 - 4 Năm
Nhân viên
Hồ Chí Minh
Business Analyst
CÔNG TY CỔ PHẦN TẬP ĐOÀN IVI
CNTT - Phần mềm
10 Tr - 20 Tr VND
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Business Analyst
CÔNG TY TNHH ASHTON FURNITURE CONSOLIDATION
Kế toán / Kiểm toán
Trên  16 Tr VND
Trên 5 Năm
Nhân viên
Bà Rịa - Vũng Tàu
Business Analyst
Công ty Cổ phần Mỹ phẩm Quốc tế Thùy Dung
CNTT - Phần mềm
16 Tr - 22 Tr VND
Trên 2 Năm
Nhân viên
Hà Nội
Business Analyst
Công ty Cố phần giải pháp công nghệ ITE
Tài chính / Đầu tư
12 Tr - 30 Tr VND
Trên 2 Năm
Nhân viên
Hà Nội
Market Intelligence Manager (Food Industry)
Công ty CP Nguyên Liệu Thực Phẩm Á Châu Sài Gòn (AFI)
Thực phẩm & Đồ uống
Cạnh tranh
4 - 15 Năm
Quản lý
Hồ Chí Minh
Chuyên viên cao cấp – Mô hình hóa & Giải pháp cung ứng (Data Analyst)
Công Ty CP Vàng Bạc Đá Quý Phú Nhuận - PNJ
Bán lẻ / Bán sỉ
Cạnh tranh
Trên 2 Năm
Nhân viên
Hồ Chí Minh
[Ha Noi] - Data Analyst/Chuyên Viên Phân Tích Dữ Liệu
Công Ty TNHH Zeder Việt Nam
CNTT - Phần mềm
Cạnh tranh
3 - 5 Năm
Nhân viên
Hà Nội
Senior Data Analyst
Công ty TNHH, Liên Doanh Vĩnh Hưng (TMI Việt Nam)
Kế toán / Kiểm toán
Cạnh tranh
Lên đến 3 Năm
Nhân viên
Hồ Chí Minh
Customer Data Analyst
CÔNG TY CỔ PHẦN DƯỢC PHẨM FPT LONG CHÂU
Bán hàng / Kinh doanh
Cạnh tranh
3 - 5 Năm
Nhân viên
Hồ Chí Minh
Senior Data Analyst
Công ty TNHH, Liên Doanh Vĩnh Hưng (TMI Việt Nam)
Kế toán / Kiểm toán
Cạnh tranh
Lên đến 3 Năm
Nhân viên
Hồ Chí Minh
Senior Data Analyst (Garment)
Công ty TNHH, Liên Doanh Vĩnh Hưng (TMI Việt Nam)
Kế toán / Kiểm toán
Cạnh tranh
Lên đến 3 Năm
Nhân viên
Hồ Chí Minh
Senior Data Analyst
FE CREDIT
Ngân hàng
Cạnh tranh
3 - 5 Năm
Nhân viên
Hồ Chí Minh
Nhân viên phân tích X-ray
Công Ty Cổ Phần Xi Măng Xuân Thành
Hóa học
7 Tr - 8,5 Tr VND
Nhân viên
17/10/2024
Hà Nam
Nhân viên phân tích nghiệp vụ ERP
Công ty Cổ phần CANIFA
Kế toán / Kiểm toán
8 Tr - 17 Tr VND
1 - 3 Năm
Nhân viên
Hà Nội
BUSINESS ANALYST (Internship)
Medigo Software
CNTT - Phần mềm
1 Tr - 3 Tr VND
Sinh viên/ Thực tập sinh
30/09/2024
Hồ Chí Minh
Business Analyst Associate
CÔNG TY CỔ PHẦN GIÁO DỤC SAPP
CNTT - Phần mềm
15 Tr - 18 Tr VND
Trên 2 Năm
Nhân viên
Hà Nội
Business Analyst (Blockchain, AI)
CÔNG TY CỔ PHẦN TẬP ĐOÀN IVI
CNTT - Phần mềm
Lên đến  25 Tr VND
2 - 3 Năm
Nhân viên
Hà Nội
Junior Business Analyst
CÔNG TY CỔ PHẦN HASAKI BEAUTY & CLINIC
CNTT - Phần mềm
Cạnh tranh
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Business Analyst (Senior)
Công ty Cổ phần Tập đoàn Meey Land
CNTT - Phần mềm
25 Tr - 45 Tr VND
Trên 2 Năm
Nhân viên
Hà Nội
Sales Planning Specialist
LOTTE VIETNAM SHOPPING JOINT STOCK COMPANY
Bán lẻ / Bán sỉ
Cạnh tranh
1 - 2 Năm
Nhân viên
Hồ Chí Minh
IT Project Manager & Business Analyst
CÔNG TY TNHH THỜI TRANG VÀ MỸ PHẨM ÂU CHÂU
CNTT - Phần mềm
Cạnh tranh
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Senior Sales Manager
CÔNG TY TNHH TRANSCOSMOS VIỆT NAM
Tiếp thị / Marketing
Cạnh tranh
Trên 7 Năm
Giám đốc
Hồ Chí Minh
CVCC Phân tích kinh doanh KHDN - Hà Nội - TA139
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
CNTT - Phần mềm
Cạnh tranh
3 - 5 Năm
Nhân viên
Hà Nội
Senior Data Analyst - Hà Nội - TA139
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
Chứng khoán
Cạnh tranh
3 - 4 Năm
Nhân viên
Hà Nội
Product Manager
HR Vietnam’s ESS Client
Tiếp thị / Marketing
Cạnh tranh
3 - 5 Năm
Quản lý
Hồ Chí Minh
Business Analyst Executive - Digital Business Development Division
Công Ty TNHH Bảo Hiểm Phi Nhân Thọ MSIG Việt Nam
Ngân hàng
Cạnh tranh
2 - 3 Năm
Nhân viên
Hà Nội
Giảng viên bộ môn Business Analyst (BA)
Chương trình Học viện Công nghệ BKACAD
Giáo dục / Đào tạo
25 Tr - 45 Tr VND
2 - 5 Năm
Nhân viên
Hà Nội
Business Analyst Expert - Hà Nội - TA139
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
CNTT - Phần cứng / Mạng
Cạnh tranh
Trên 7 Năm
Trưởng nhóm / Giám sát
Hà Nội
[Ngành Cảng] Nhân Viên Phân Tích Nghiệp Vụ Công Nghệ Thông Tin
Công Ty Cổ Phần Đồng Tâm
CNTT - Phần mềm
Cạnh tranh
Trên 3 Năm
Nhân viên
Long AnHồ Chí Minh
Data Analyst - Khối Dữ liệu (HO24.25)
Ngân Hàng TMCP Quân Đội
CNTT - Phần mềm
Cạnh tranh
Nhân viên
30/09/2024
Hà Nội
Tuyển Dụng Workforce Management/ Data Analyst - Call Center
CÔNG TY TNHH TRANSCOSMOS VIỆT NAM
Bán hàng / Kinh doanh
12 Tr - 20 Tr VND
1 - 3 Năm
Nhân viên
Hồ Chí Minh
Data Analyst (Workforce Management Analyst_Call Center)
CÔNG TY TNHH TRANSCOSMOS VIỆT NAM
Bán hàng / Kinh doanh
12 Tr - 20 Tr VND
1 - 3 Năm
Nhân viên
Hồ Chí Minh
Data Analyst - Khối Dữ liệu (HO24.133)
Ngân Hàng TMCP Quân Đội
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Trưởng nhóm Phân tích Dữ liệu (Data Analyst Team Leader)
CÔNG TY CỔ PHẦN TẬP ĐOÀN GELEX
Ngân hàng
Cạnh tranh
Trên 5 Năm
Trưởng nhóm / Giám sát
Hà Nội
Chuyên Viên Phân Tích Dữ Liệu - Data Analyst
CÔNG TY CỔ PHẦN DAYONE ASIA
Giáo dục / Đào tạo
16 Tr - 25 Tr VND
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Chuyên viên Phân tích dữ liệu kinh doanh (Data Analyst)
Công ty Cổ phần CANIFA
Bán lẻ / Bán sỉ
18 Tr - 30 Tr VND
1 - 10 Năm
Nhân viên
Hà Nội
Business Analyst - Khối Dữ liệu (HO24.28)
Ngân Hàng TMCP Quân Đội
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Chuyên viên phân tích dữ liệu (Business Analyst)
Công ty CP IIG Việt Nam
Giáo dục / Đào tạo
15 Tr - 20 Tr VND
3 - 5 Năm
Nhân viên
Hà Nội
Senior Business Analyst (Có kinh nghiệm về Banking - Finance)
CÔNG TY CỔ PHẦN KINH DOANH F88
CNTT - Phần mềm
20 Tr - 40 Tr VND
2 - 6 Năm
Nhân viên
Hà Nội
Business Analyst (Phân Tích Nghiệp Vụ Phần Mềm)
LacViet Computing Corporation
CNTT - Phần mềm
Cạnh tranh
2 - 3 Năm
Nhân viên
Hồ Chí Minh
Business Analyst - Khối Dữ liệu (HO24.136)
Ngân Hàng TMCP Quân Đội
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Kỹ sư Phân tích nghiệp vụ - Business Analyst
Tổng Công ty Cổ phần Công trình Viettel
CNTT - Phần mềm
17 Tr - 20 Tr VND
2 - 3 Năm
Nhân viên
Hà Nội
Senior Data Business Analyst - Hà Nội - TA139
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
Bán hàng / Kinh doanh
Cạnh tranh
4 - 5 Năm
Nhân viên
Hà Nội
CVCC Quản trị ứng dụng báo cáo - MSB - KCN - 3I086
Ngân hàng Thương mại Cổ phần Hàng Hải Việt Nam (MSB)
Ngân hàng
Cạnh tranh
Trên 3 Năm
Nhân viên
Hà Nội
IT Data Engineer/Administration
CÔNG TY TNHH THỜI TRANG VÀ MỸ PHẨM ÂU CHÂU
CNTT - Phần mềm
Cạnh tranh
2 - 4 Năm
Nhân viên
Hồ Chí Minh
Chuyên Viên Phát triển phần mềm IT
Ngân Hàng Thương Mại Cổ Phần Bảo Việt
Bưu chính viễn thông
500 - 1,000 USD
1 - 3 Năm
Nhân viên
Hà Nội
Financial Analyst
Công ty TNHH Levinci
Kế toán / Kiểm toán
1,500 - 2,500 USD
5 - 7 Năm
Quản lý
Hồ Chí Minh
Product Manager - POS Loan
FE CREDIT
Ngân hàng
Cạnh tranh
5 - 6 Năm
Quản lý
Hồ Chí Minh
CVC/CVCC (Data Analyst) Phân tích kinh doanh (Thu hồi nợ) - TA149
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
Bán hàng / Kinh doanh
Cạnh tranh
2 - 4 Năm
Trưởng nhóm / Giám sát
Hà Nội
Chuyên viên Phân Tích Dữ Liệu - Data Analyst (Mảng Market Research)
Công ty TNHH MTV Cimigo
Tiếp thị / Marketing
Cạnh tranh
1 - 2 Năm
Nhân viên
Hồ Chí Minh
Giám Đốc Công Nghệ
Công ty CP Scots English Australia
Quản lý điều hành
40 Tr - 60 Tr VND
Trên 10 Năm
Giám đốc
Hà Nội
CVCC Phát triển sản phẩm
CÔNG TY CỔ PHẦN KINH DOANH F88
Tiếp thị / Marketing
Cạnh tranh
2 - 4 Năm
Nhân viên
Hồ Chí Minh
Brand and Communication Manager
Wall Street English
Tiếp thị / Marketing
40 Tr - 50 Tr VND
7 - 10 Năm
Quản lý
Hồ Chí Minh
Chuyên viên Phân tích nghiệp vụ (Business Analyst) - Khối Công nghệ thông tin (HO24.167)
Ngân Hàng TMCP Quân Đội
CNTT - Phần mềm
Cạnh tranh
1 - 5 Năm
Nhân viên
Hà Nội
Chuyên viên cao cấp quản lý hiệu quả kinh doanh – Khối Khách hàng doanh nghiệp vừa và nhỏ - TA132
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
Ngân hàng
Cạnh tranh
3 - 5 Năm
Nhân viên
Hà Nội
Head of Ecosystem Center - Hà Nội - TA003
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
Bảo hiểm
Cạnh tranh
5 - 10 Năm
Quản lý
Hà Nội
Pricing, Rebates & Promotion Management Manager
AkzoNobel Vietnam
Tiếp thị / Marketing
Cạnh tranh
8 - 12 Năm
Quản lý
Hồ Chí Minh
Senior Data Scientist - Hà Nội - TA139
Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK
Bán hàng / Kinh doanh
Cạnh tranh
3 - 5 Năm
Nhân viên
Hà Nội
Workforce Management Analyst (Data Report)
Vietnam Concentrix Services Company Limited
CNTT - Phần mềm
15 Tr - 18 Tr VND
Mới tốt nghiệp
30/09/2024
Hồ Chí Minh
IT Business Analysis Team Lead
HD SAISON Finance Co., Ltd
Tài chính / Đầu tư
Cạnh tranh
Trên 3 Năm
Trưởng nhóm / Giám sát
Hồ Chí Minh
Chuyên viên Kế hoạch Phát triển Khách hàng (FMCG)
Công ty Cổ phần Sữa VitaDairy Việt Nam
Bán hàng / Kinh doanh
Cạnh tranh
3 - 5 Năm
Nhân viên
Hồ Chí Minh
Chuyên viên Quản trị Vận hành Hệ thống
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 1 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Cơ sở dữ liệu
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 1 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Ứng dụng ngoài Core
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Trưởng Nhóm Phân Tích Dữ Liệu
CÔNG TY CỔ PHẦN Z HOLDING
Tiếp thị / Marketing
30 Tr - 45 Tr VND
3 - 5 Năm
Nhân viên
Hà Nội
Chuyên viên Dịch vụ Hỗ trợ khách hàng CNTT
CÔNG TY CỔ PHẦN CHỨNG KHOÁN ASEAN
Chứng khoán
Cạnh tranh
1 - 3 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Hệ thống
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 1 Năm
Nhân viên
Hà Nội
TRƯỞNG NHÓM PHÂN TÍCH DỮ LIỆU
CÔNG TY CỔ PHẦN Z HOLDING
Bán lẻ / Bán sỉ
30 Tr - 45 Tr VND
3 - 4 Năm
Trưởng nhóm / Giám sát
Hà Nội
Chuyên viên Quản trị Vận hành Cơ sở dữ liệu
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 1 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Ứng dụng ngoài Core
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Hệ thống
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 1 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Cơ sở dữ liệu
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 1 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Ứng dụng ngoài Core
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
PowerBI Developer (Junior Level)
Savills Vietnam
CNTT - Phần mềm
Cạnh tranh
1 - 3 Năm
Nhân viên
Hồ Chí Minh
Java Developer
True Money Vietnam
CNTT - Phần mềm
25 Tr - 35 Tr VND
3 - 5 Năm
Nhân viên
Hà Nội
Manual Tester (French)
HR Vietnam’s ESS Client
CNTT - Phần mềm
Cạnh tranh
Nhân viên
12/10/2024
Hồ Chí Minh
Senior Business Process
Công ty TNHH Olam Việt Nam
CNTT - Phần mềm
Cạnh tranh
2 - 3 Năm
Nhân viên
Đồng Nai
CV/CVC/CVCC Lập trình tích hợp dữ liệu (SQL/PLSQL Developer)
CÔNG TY CỔ PHẦN CHỨNG KHOÁN ASEAN
Ngân hàng
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Phần mềm Ứng dụng
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Junior/Senior Java Developer (BPM/LOS)
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 1 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Phần mềm Ứng dụng
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
DevOps Engineer (Python, Nodejs, Java) - Khối Ngân hàng số (HO24.131)
Ngân Hàng TMCP Quân Đội
CNTT - Phần mềm
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
Lập trình viên Backend - Backend Developer (Java) - Khối Ngân hàng số (HO24.130)
Ngân Hàng TMCP Quân Đội
CNTT - Phần mềm
Cạnh tranh
Trên 3 Năm
Nhân viên
Hà Nội
Nhân Viên Kinh Doanh Phần Mềm
CÔNG TY CỔ PHẦN Z HOLDING
CNTT - Phần mềm
7,5 Tr - 15 Tr VND
Trên 1 Năm
Nhân viên
Hà Nội
Nhân viên Kinh doanh phần mềm
CÔNG TY CỔ PHẦN Z HOLDING
Bán hàng / Kinh doanh
8 Tr - 15 Tr VND
1 - 2 Năm
Nhân viên
Hồ Chí Minh
Trưởng phòng Kinh doanh Công nghệ
CÔNG TY CỔ PHẦN Z HOLDING
CNTT - Phần mềm
15 Tr - 20 Tr VND
2 - 5 Năm
Quản lý
Hồ Chí Minh
Chuyên viên kinh doanh quản lý tài sản nợ có - Khối Chuyển đổi
Ngân Hàng TMCP Sài Gòn - Hà Nội ( SHB )
Kế toán / Kiểm toán
Cạnh tranh
Trên 2 Năm
Nhân viên
Hà Nội
CHUYÊN VIÊN PHÂN TÍCH NGHIỆP VỤ (BA)
Tổng Công Ty Cổ Phần Bảo Hiểm Ngân Hàng TMCP Công Thương Việt Nam
Bảo hiểm
Cạnh tranh
3 - 7 Năm
Nhân viên
Hà Nội
Chuyên viên Quản trị Vận hành Phần mềm Ứng dụng

## HANDLING DATA

In [451]:
import pandas as pd
df_DA = pd.read_csv(r'F:\DATA ANALYST\Python\careerviet_crawl_DA.csv')
df_BI = pd.read_csv(r'F:\DATA ANALYST\Python\careerviet_crawl_BI.csv')
df_merge = pd.concat([df_DA,df_BI], ignore_index=True)
df_merge = df_merge.drop_duplicates()
df_merge.to_csv(r'F:\DATA ANALYST\Python\Merge_Data.csv', encoding ='utf-8-sig',index = False)

In [94]:
#Look through the data frame
df_merge.head()

,Company name,Title,Domain,Position,Experience,Salary,Location,Min_experience,Max_experience
0,Công ty TNHH Minh Long I,Data Analyst,CNTT - Phần mềm,Nhân viên,3 - 5 Năm,20 Tr - 27 Tr VND,Bình Dương,NaN,NaN
1,CÔNG TY CỔ PHẦN KINH DOANH F88,Data Analyst,Tài chính / Đầu tư,Nhân viên,Trên 2 Năm,Cạnh tranh,Hồ Chí Minh,2,NaN
2,CÔNG TY CỔ PHẦN DAYONE ASIA,Data Analyst,Giáo dục / Đào tạo,Nhân viên,2 - 3 Năm,18 Tr - 25 Tr VND,Hồ Chí Minh,NaN,NaN
3,Công ty TNHH Viettel - CHT,Data Analyst,CNTT - Phần mềm,Nhân viên,Trên 2 Năm,Cạnh tranh,Hà Nội,2,NaN
4,Công Ty Cổ Phần Giải Pháp Thanh Toán Việt Nam ...,Data Analyst,CNTT - Phần mềm,Nhân viên,1 - 2 Năm,12 Tr - 22 Tr VND,Hà Nội,NaN,NaN

In [452]:
#Find unique value of the 'Experience field'
print(' The unique value of Experience field is: \n' ,df_merge['Experience'].unique(),'\n'
     )
print(' The unique value of Salary field is: \n', df_merge['Salary'].unique())

 The unique value of Experience field is:
 ['3 - 5 Năm' 'Trên 2 Năm' '2 - 3 Năm' '1 - 2 Năm' 'Trên 3 Năm' '1 - 4 Năm'
 '2 - 5 Năm' 'Trên 4 Năm' '1 - 5 Năm' '3 - 6 Năm' 'Lên đến 3 Năm'
 'Trên 1 Năm' '3 - 4 Năm' 'Nhân viên' '1 - 10 Năm' '1 - 3 Năm'
 'Trên 5 Năm' '2 - 4 Năm' '5 - 7 Năm' 'Mới tốt nghiệp' '3 - 8 Năm'
 '5 - 10 Năm' '5 - 8 Năm' '3 - 10 Năm' 'Chưa có kinh nghiệm' '5 - 6 Năm'
 '4 - 5 Năm' '4 - 6 Năm' '7 - 9 Năm' 'Sinh viên/ Thực tập sinh'
 'Lên đến 2 Năm' '2 - 15 Năm' '4 - 15 Năm' 'Trên 7 Năm' '2 - 6 Năm'
 'Trên 10 Năm' '7 - 10 Năm' '8 - 12 Năm' '3 - 7 Năm' '8 - 15 Năm']

 The unique value of Salary field is:
 ['20 Tr - 27 Tr VND' 'Cạnh tranh' '18 Tr - 25 Tr VND' '12 Tr - 22 Tr VND'
 '12 Tr - 15 Tr VND' '20 Tr - 35 Tr VND' '15 Tr - 18 Tr VND'
 '15 Tr - 30 Tr VND' '30 Tr - 45 Tr VND' '18 Tr - 30 Tr VND'
 '12 Tr - 20 Tr VND' '16 Tr - 25 Tr VND' 'Trên  15 Tr VND'
 '10 Tr - 12 Tr VND' '20 Tr - 25 Tr VND' '1,000 - 2,000 USD'
 'Lên đến  50 Tr VND' '12 Tr - 18 Tr VND' '12 Tr - 17 Tr VND'
 '1,000 - 1,500 USD' '20 Tr - 30 Tr VND' '25 Tr - 30 Tr VND'
 'Lên đến  1,000 USD' '11 Tr - 12 Tr VND' '20 Tr - 40 Tr VND'
 '19 Tr - 22 Tr VND' '15 Tr - 20 Tr VND' '10 Tr - 15 Tr VND'
 '15 Tr - 25 Tr VND' '25 Tr - 50 Tr VND' '35 Tr - 40 Tr VND'
 '1,000 - 3,000 USD' '16 Tr - 18 Tr VND' 'Lên đến  6 Tr VND'
 'Lên đến  10 Tr VND' '12 Tr - 16 Tr VND' '600 - 1,000 USD'
 '10 Tr - 18 Tr VND' '17 Tr - 22 Tr VND' 'Lên đến  20 Tr VND'
 '10 Tr - 20 Tr VND' 'Trên  16 Tr VND' '16 Tr - 22 Tr VND'
 '12 Tr - 30 Tr VND' '7 Tr - 8,5 Tr VND' '8 Tr - 17 Tr VND'
 '1 Tr - 3 Tr VND' 'Lên đến  25 Tr VND' '25 Tr - 45 Tr VND'
 '17 Tr - 20 Tr VND' '500 - 1,000 USD' '1,500 - 2,500 USD'
 '40 Tr - 60 Tr VND' '40 Tr - 50 Tr VND' '25 Tr - 35 Tr VND'
 '7,5 Tr - 15 Tr VND' '8 Tr - 15 Tr VND' '22 Tr - 30 Tr VND'
 '15 Tr - 22 Tr VND' '7 Tr - 14 Tr VND']

## Handling data about "Experience"

In [453]:
# Initiate 'Min_experience','Max_experience column with empty value
import numpy as np
df_merge[['Min_experience','Max_experience']] =np.nan

### Handling "Trên... năm"

In [454]:
# Test how to get the word"Trên" in the dataframe
df_merge[df_merge['Experience'].str.contains('Trên')].head(10)

,Company name,Title,Domain,Position,Experience,Salary,Location,Min_experience,Max_experience
1,CÔNG TY CỔ PHẦN KINH DOANH F88,Data Analyst,Tài chính / Đầu tư,Nhân viên,Trên 2 Năm,Cạnh tranh,Hồ Chí Minh,NaN,NaN
3,Công ty TNHH Viettel - CHT,Data Analyst,CNTT - Phần mềm,Nhân viên,Trên 2 Năm,Cạnh tranh,Hà Nội,NaN,NaN
5,CÔNG TY TRÁCH NHIỆM HỮU HẠN TRUNG SƠN ALPHA (H...,Data Analyst,Vận chuyển / Giao nhận / Kho vận,Quản lý,Trên 3 Năm,12 Tr - 15 Tr VND,Cần Thơ,NaN,NaN
6,CÔNG TY CỔ PHẦN KINH DOANH F88,Data Analyst,Ngân hàng,Nhân viên,Trên 2 Năm,Cạnh tranh,Hồ Chí Minh,NaN,NaN
9,CÔNG TY CỔ PHẦN KINH DOANH F88,Senior Data Analyst,CNTT - Phần mềm,Nhân viên,Trên 3 Năm,20 Tr - 35 Tr VND,Hà Nội,NaN,NaN
10,Công Ty Camso Việt Nam,Site Data Analyst,Sản xuất / Vận hành sản xuất,Nhân viên,Trên 3 Năm,Cạnh tranh,Bình Dương,NaN,NaN
11,UrBox - Công ty Cổ phần Tiếp Thị Số Tô Quà,Senior Data Analyst,Kế toán / Kiểm toán,Nhân viên,Trên 4 Năm,Cạnh tranh,Hà Nội,NaN,NaN
20,Tổng Công ty Cổ phần Công trình Viettel,Chuyên viên Phân tích dữ liệu (Data Analyst),Bán hàng / Kinh doanh,Nhân viên,Trên 1 Năm,18 Tr - 25 Tr VND,Hà Nội,NaN,NaN
24,Ngân Hàng TMCP Quân Đội,Data Analyst - Khối Dữ liệu (HO24.133),CNTT - Phần mềm,Nhân viên,Trên 2 Năm,Cạnh tranh,Hà Nội,NaN,NaN
28,CÔNG TY CỔ PHẦN TẬP ĐOÀN GELEX,Trưởng nhóm Phân tích Dữ liệu (Data Analyst Te...,Ngân hàng,Trưởng nhóm / Giám sát,Trên 5 Năm,Cạnh tranh,Hà Nội,NaN,NaN

In [455]:
# Test Extract the year with below index
df_merge.loc[index_tren_experience,'Experience'].str.split(' ').str[1]

1      2
3      2
5      3
6      2
9      3
      ..
365    2
369    1
374    1
375    5
380    5
Name: Experience, Length: 82, dtype: object

In [456]:
# Finding index with have the phrase " Trên .... triệu"
index_tren_experience = df_merge[df_merge['Experience'].str.contains('Trên')].index
index_tren_experience

Int64Index([  1,   3,   5,   6,   9,  10,  11,  20,  24,  28,  30,  36,  37,
             38,  47,  53,  68,  73,  74,  75,  76,  77,  81,  99, 100, 101,
            102, 103, 109, 112, 113, 115, 116, 121, 123, 159, 163, 164, 168,
            169, 177, 200, 201, 205, 209, 211, 235, 236, 238, 240, 250, 251,
            252, 264, 267, 270, 276, 277, 292, 299, 308, 310, 311, 312, 326,
            327, 328, 330, 331, 332, 335, 346, 349, 358, 359, 360, 361, 365,
            369, 374, 375, 380],
           dtype='int64')

In [457]:
# Add the extracted year into the' Min_experience' and '' Max_experience' column
df_merge.loc[index_tren_experience, 'Min_experience'] = df_merge['Experience'].str.split(' ').str[1]
df_merge.loc[index_tren_experience, 'Max_experience'] = '-'

In [458]:
#recheck the df after inserting min max value
df_merge.loc[index_tren][['Experience','Min_experience','Max_experience']]

     Experience Min_experience Max_experience
1    Trên 2 Năm              2              -
3    Trên 2 Năm              2              -
5    Trên 3 Năm              3              -
6    Trên 2 Năm              2              -
9    Trên 3 Năm              3              -
..          ...            ...            ...
365  Trên 2 Năm              2              -
369  Trên 1 Năm              1              -
374  Trên 1 Năm              1              -
375  Trên 5 Năm              5              -
380  Trên 5 Năm              5              -

[82 rows x 3 columns]

### Handling "Mới tốt nghiệp" and "Chưa có kinh nghiệm"

In [459]:
# Similarly, conduct key in value in min_exp and max_exp field with the word 'Mới tốt nghiệp', 'Chưa có kinh nghiệm'
index_moi_tot_nghiep = df_merge[df_merge['Experience'].str.contains('Mới tốt nghiệp')].index
print(index_moi_tot_nghiep)
index_chua_co_kinh_nghiem = df_merge[df_merge['Experience'].str.contains('Chưa có kinh nghiệm')].index
print(index_chua_co_kinh_nghiem)

Int64Index([45, 183, 184, 185, 186, 187, 189], dtype='int64')
Int64Index([111], dtype='int64')

In [460]:
# with moi_tot_nghiep, min will be 0, max will be -
df_merge.loc[index_moi_tot_nghiep, 'Min_experience'] = 0
df_merge.loc[index_moi_tot_nghiep, 'Max_experience'] = '-'

In [461]:
#recheck the df after inserting min max value
df_merge.loc[index_moi_tot_nghiep][['Experience','Min_experience','Max_experience']]

         Experience Min_experience Max_experience
45   Mới tốt nghiệp              0              -
183  Mới tốt nghiệp              0              -
184  Mới tốt nghiệp              0              -
185  Mới tốt nghiệp              0              -
186  Mới tốt nghiệp              0              -
187  Mới tốt nghiệp              0              -
189  Mới tốt nghiệp              0              -

In [462]:
# with chua_co_kinh_nghiem, min will be 0, max will be -
df_merge.loc[index_chua_co_kinh_nghiem, 'Min_experience'] = 0
df_merge.loc[index_chua_co_kinh_nghiem, 'Max_experience'] = '-'

In [463]:
#recheck the df after inserting min max value
df_merge.loc[index_chua_co_kinh_nghiem][['Experience','Min_experience','Max_experience']]

              Experience Min_experience Max_experience
111  Chưa có kinh nghiệm              0              -

### Handling "Lên đến ... năm"

In [464]:
# Finding index with have the phrase " Lên đến .... năm"
index_len_den_experience = df_merge[df_merge['Experience'].str.contains('Lên đến')].index
index_len_den_experience

Int64Index([18, 32, 196], dtype='int64')

In [465]:
# Similarly, conduct key in value in min_exp and max_exp field with the word 'Lên đến.... năm'
# with 'Lên đến.... năm', min will be -, max will be max will be year extract from experience column
df_merge.loc[index_len_den_experience, 'Min_experience'] = '-'
df_merge.loc[index_len_den_experience, 'Max_experience'] = df_merge['Experience'].str.split(' ').str[2]

In [466]:
#recheck the df after inserting min max value
df_merge.loc[index_len_den][['Experience','Min_experience','Max_experience']]

        Experience Min_experience Max_experience
18   Lên đến 3 Năm              -              3
32   Lên đến 3 Năm              -              3
196  Lên đến 2 Năm              -              2

### Handling "Từ.... đến .... năm"

In [467]:
# Finding index with have the phrase " Từ.... đến .... năm"
index_tu_den_experience = df_merge[df_merge['Experience'].str.contains('-')].index
index_tu_den_experience

Int64Index([  0,   2,   4,   7,   8,  12,  13,  14,  15,  16,
            ...
            353, 364, 366, 367, 370, 371, 373, 376, 378, 382],
           dtype='int64', length=197)

In [468]:
# Similarly, conduct key in value in min_exp and max_exp field with the word '....-.... năm '
# with 'Lên đến.... năm', min will be -, max will be max will be year extract from experience column
df_merge.loc[index_tu_den_experience, 'Min_experience'] = df_merge['Experience'].str.split(' ').str[0]
df_merge.loc[index_tu_den_experience, 'Max_experience'] = df_merge['Experience'].str.split(' ').str[2]

In [469]:
#recheck the df after inserting min max value
df_merge.loc[index_tu_den_experience][['Experience','Min_experience','Max_experience']]

     Experience Min_experience Max_experience
0     3 - 5 Năm              3              5
2     2 - 3 Năm              2              3
4     1 - 2 Năm              1              2
7     1 - 4 Năm              1              4
8     2 - 5 Năm              2              5
..          ...            ...            ...
371   1 - 3 Năm              1              3
373  5 - 10 Năm              5             10
376   2 - 5 Năm              2              5
378   1 - 5 Năm              1              5
382  3 - 10 Năm              3             10

[197 rows x 3 columns]

In [470]:
#recheck all the value in Min_exp column
df_merge['Min_experience'].unique()

array(['3', '2', '1', '4', '-', nan, '5', 0, '7', '10', '8'], dtype=object)

In [471]:
#recheck all the value in Max_exp column
df_merge['Max_experience'].unique()

array(['5', '-', '3', '2', '4', '6', nan, '10', '7', '8', '9', '15', '12'],
      dtype=object)

### Handling na value for Experience field

In [472]:
#Find and delete na value for 'experience' field
na_value = df_merge[df_merge['Min_experience'].isna()].index
df_merge.drop( index = na_value , inplace = True)

In [473]:
#recheck value for min_exp column
df_merge['Min_experience'].unique()

array(['3', '2', '1', '4', '-', '5', 0, '7', '10', '8'], dtype=object)

In [474]:
#recheck value for max_exp column
df_merge['Max_experience'].unique()

array(['5', '-', '3', '2', '4', '6', '10', '7', '8', '9', '15', '12'],
      dtype=object)

In [475]:
df_merge.info() #recheck df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 382
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company name    290 non-null    object
 1   Title           290 non-null    object
 2   Domain          290 non-null    object
 3   Position        290 non-null    object
 4   Experience      290 non-null    object
 5   Salary          290 non-null    object
 6   Location        290 non-null    object
 7   Min_experience  290 non-null    object
 8   Max_experience  290 non-null    object
dtypes: object(9)
memory usage: 22.7+ KB

## Handling data about "Salary

In [476]:
# Initiate 'Min_salary','Max_salary column with empty value
import numpy as np
df_merge[['Min_salary','Max_salary']] =np.nan

### Handling data about "Tu....Den.... VND"

In [477]:
# Finding index with have the phrase " ....Tr -.... Tr"
index_tu_den_salary_VND = df_merge[df_merge['Salary'].str.contains('-') & df_merge['Salary'].str.contains('VND')].index
index_tu_den_salary_VND

Int64Index([  0,   2,   4,   5,   7,   8,   9,  12,  17,  19,  20,  25,  26,
             27,  34,  35,  39,  42,  45,  53,  59,  62,  64,  69,  72,  75,
             76,  77,  80,  82,  83,  84,  85,  86,  88,  99, 105, 109, 110,
            115, 118, 119, 133, 142, 158, 159, 163, 173, 190, 193, 209, 213,
            222, 234, 235, 236, 249, 251, 252, 262, 264, 267, 275, 287, 290,
            299, 301, 316, 323, 332, 333, 334, 342, 345, 347, 350, 351, 352,
            353, 366, 382],
           dtype='int64')

In [478]:
# with " ....Tr -.... Tr", min will be 1st range salary, max will be 2nd range salary extract from salary column
df_merge.loc[index_tu_den_salary_VND, 'Min_salary'] = df_merge['Salary'].str.split(' ').str[0:2]
df_merge.loc[index_tu_den_salary_VND, 'Max_salary'] = df_merge['Salary'].str.split(' ').str[3:5]

In [479]:
#recheck the df after inserting min max value
df_merge.loc[index_tu_den_salary_VND][['Salary','Min_salary','Max_salary']]

                Salary Min_salary Max_salary
0    20 Tr - 27 Tr VND   [20, Tr]   [27, Tr]
2    18 Tr - 25 Tr VND   [18, Tr]   [25, Tr]
4    12 Tr - 22 Tr VND   [12, Tr]   [22, Tr]
5    12 Tr - 15 Tr VND   [12, Tr]   [15, Tr]
7    20 Tr - 35 Tr VND   [20, Tr]   [35, Tr]
..                 ...        ...        ...
351  15 Tr - 20 Tr VND   [15, Tr]   [20, Tr]
352  15 Tr - 20 Tr VND   [15, Tr]   [20, Tr]
353  18 Tr - 25 Tr VND   [18, Tr]   [25, Tr]
366  15 Tr - 22 Tr VND   [15, Tr]   [22, Tr]
382  18 Tr - 25 Tr VND   [18, Tr]   [25, Tr]

[81 rows x 3 columns]

In [480]:
#Join string in a list in min,max salary column
for i in index_tu_den_salary_VND:
    df_merge.loc[i, 'Min_salary'] = ' '.join(df_merge['Min_salary'][i])
    df_merge.loc[i, 'Max_salary'] = ' '.join(df_merge['Max_salary'][i])
    print(df_merge.loc[i, 'Min_salary'] , df_merge.loc[i, 'Max_salary'])

20 Tr 27 Tr
18 Tr 25 Tr
12 Tr 22 Tr
12 Tr 15 Tr
20 Tr 35 Tr
15 Tr 18 Tr
20 Tr 35 Tr
15 Tr 30 Tr
30 Tr 45 Tr
18 Tr 25 Tr
18 Tr 25 Tr
18 Tr 30 Tr
12 Tr 20 Tr
12 Tr 20 Tr
18 Tr 25 Tr
16 Tr 25 Tr
20 Tr 35 Tr
20 Tr 25 Tr
15 Tr 18 Tr
20 Tr 25 Tr
12 Tr 17 Tr
30 Tr 45 Tr
20 Tr 30 Tr
25 Tr 30 Tr
11 Tr 12 Tr
12 Tr 20 Tr
12 Tr 17 Tr
20 Tr 40 Tr
19 Tr 22 Tr
15 Tr 18 Tr
15 Tr 20 Tr
18 Tr 25 Tr
12 Tr 17 Tr
15 Tr 20 Tr
20 Tr 25 Tr
10 Tr 15 Tr
15 Tr 25 Tr
15 Tr 20 Tr
10 Tr 15 Tr
25 Tr 50 Tr
25 Tr 30 Tr
35 Tr 40 Tr
20 Tr 30 Tr
20 Tr 40 Tr
12 Tr 15 Tr
20 Tr 40 Tr
16 Tr 18 Tr
15 Tr 25 Tr
12 Tr 16 Tr
25 Tr 30 Tr
10 Tr 18 Tr
25 Tr 30 Tr
12 Tr 15 Tr
15 Tr 20 Tr
20 Tr 40 Tr
17 Tr 22 Tr
10 Tr 20 Tr
16 Tr 22 Tr
12 Tr 30 Tr
8 Tr 17 Tr
15 Tr 18 Tr
25 Tr 45 Tr
25 Tr 45 Tr
20 Tr 40 Tr
17 Tr 20 Tr
40 Tr 60 Tr
40 Tr 50 Tr
30 Tr 45 Tr
25 Tr 35 Tr
7,5 Tr 15 Tr
8 Tr 15 Tr
15 Tr 20 Tr
10 Tr 15 Tr
22 Tr 30 Tr
22 Tr 30 Tr
25 Tr 30 Tr
15 Tr 20 Tr
15 Tr 20 Tr
18 Tr 25 Tr
15 Tr 22 Tr
18 Tr 25 Tr

### Handling data about "Tu....Den.... USD"

In [481]:
# Finding index with have the phrase " ....USD -.... USD"
index_tu_den_salary_USD = df_merge[df_merge['Salary'].str.contains('-') & df_merge['Salary'].str.contains('USD')].index
index_tu_den_salary_USD

Int64Index([46, 63, 160, 168, 205, 294, 295], dtype='int64')

In [482]:
# with " ....USD -.... USD", min will be 1st range salary, max will be 2nd range salary extract from salary column
df_merge.loc[index_tu_den_salary_USD, 'Min_salary'] = df_merge['Salary'].str.split(' ').str[0:2]
df_merge.loc[index_tu_den_salary_USD, 'Max_salary'] = df_merge['Salary'].str.split(' ').str[2:4]

In [483]:
#Join string in a list in min,max salary column
for i in index_tu_den_salary_USD:
    df_merge.loc[i, 'Min_salary'] = ' '.join(df_merge['Min_salary'][i])
    df_merge.loc[i, 'Min_salary'] = df_merge.loc[i, 'Min_salary'].replace('-','USD')
    df_merge.loc[i, 'Max_salary'] = ' '.join(df_merge['Max_salary'][i])
    print(df_merge.loc[i, 'Min_salary'] , df_merge.loc[i, 'Max_salary'])

1,000 USD 2,000 USD
1,000 USD 1,500 USD
1,000 USD 3,000 USD
1,000 USD 1,500 USD
600 USD 1,000 USD
500 USD 1,000 USD
1,500 USD 2,500 USD

In [484]:
#recheck the df after inserting min max value
df_merge.loc[index_tu_den_salary_USD][['Salary','Min_salary','Max_salary']]

                Salary Min_salary Max_salary
46   1,000 - 2,000 USD  1,000 USD  2,000 USD
63   1,000 - 1,500 USD  1,000 USD  1,500 USD
160  1,000 - 3,000 USD  1,000 USD  3,000 USD
168  1,000 - 1,500 USD  1,000 USD  1,500 USD
205    600 - 1,000 USD    600 USD  1,000 USD
294    500 - 1,000 USD    500 USD  1,000 USD
295  1,500 - 2,500 USD  1,500 USD  2,500 USD

### Handling data about "Lên đến"

In [485]:
# Finding index with have the phrase " Lên đến" in salary field
index_len_den_salary = df_merge[df_merge['Salary'].str.contains('Lên đến')].index
index_len_den_salary

Int64Index([70, 81, 185, 189, 238, 265], dtype='int64')

In [486]:
# with " lên đến, min will be -, max will be 2nd range salary extract from salary column
df_merge.loc[index_len_den_salary, 'Min_salary'] = '-'
df_merge.loc[index_len_den_salary, 'Max_salary'] = df_merge.loc[index_len_den_salary, 'Salary'].str.split(' ').str[3:5]

In [487]:
#Join string in a list in min,max salary column
for i in index_len_den_salary:
    df_merge.loc[i, 'Max_salary'] = ' '.join(df_merge['Max_salary'][i])
    print(df_merge.loc[i, 'Min_salary'] , df_merge.loc[i, 'Max_salary'])

- 1,000 USD
- 1,000 USD
- 6 Tr
- 10 Tr
- 20 Tr
- 25 Tr

In [488]:
# recheck df
df_merge.loc[index_len_den_salary]

,Company name,Title,Domain,Position,Experience,Salary,Location,Min_experience,Max_experience,Min_salary,Max_salary
70,Công ty Cổ Phần TEECOM,Market Research cum Assistant Project Manager ...,Tiếp thị / Marketing,Trưởng nhóm / Giám sát,3 - 4 Năm,"Lên đến 1,000 USD",Hồ Chí Minh,3,4,-,"1,000 USD"
81,Công ty Cổ Phần TEECOM,Trợ Lý Trưởng Dự Án E-commerce (Mạnh Số Liệu v...,Tiếp thị / Marketing,Trưởng nhóm / Giám sát,Trên 3 Năm,"Lên đến 1,000 USD",Hồ Chí Minh,3,-,-,"1,000 USD"
185,DIGI-TEXX VIETNAM,[QUẬN 11 - TUYỂN GẤP] NHÂN VIÊN XỬ LÝ DỮ LIỆU ...,Hành chính / Thư ký,16/09/2024,Mới tốt nghiệp,Lên đến 6 Tr VND,Hồ Chí Minh,0,-,-,6 Tr
189,Công Ty Cổ Phần Việt Nam Booking,Nhân Viên Junior Backend PHP Developer,CNTT - Phần mềm,30/09/2024,Mới tốt nghiệp,Lên đến 10 Tr VND,Hồ Chí Minh,0,-,-,10 Tr
238,CTCP Dịch vụ và giải pháp công nghệ giáo dục PHX,[PHENIKAA SMART SCHOOL] Business Analyst,CNTT - Phần mềm,Nhân viên,Trên 2 Năm,Lên đến 20 Tr VND,Hà Nội,2,-,-,20 Tr
265,CÔNG TY CỔ PHẦN TẬP ĐOÀN IVI,"Business Analyst (Blockchain, AI)",CNTT - Phần mềm,Nhân viên,2 - 3 Năm,Lên đến 25 Tr VND,Hà Nội,2,3,-,25 Tr

### Handling data about "Trên...."

In [489]:
# Finding index with have the phrase "Trên" in salary field
index_tren_salary = df_merge[df_merge['Salary'].str.contains('Trên')].index
index_tren_salary

Int64Index([37, 121, 169, 250], dtype='int64')

In [490]:
# with " Trên", min will be the salary extract from salary column, max will be -
df_merge.loc[index_tren_salary, 'Min_salary'] = df_merge.loc[index_tren_salary, 'Salary'].str.split(' ').str[2:4]
df_merge.loc[index_tren_salary, 'Max_salary'] ='-'

In [491]:
for i in index_tren_salary:
    df_merge.loc[i, 'Min_salary'] = ' '.join(df_merge['Min_salary'][i])
    print(df_merge.loc[i, 'Min_salary'] , df_merge.loc[i, 'Max_salary'])

15 Tr -
15 Tr -
15 Tr -
16 Tr -

In [492]:
#recheck df
df_merge.loc[index_tren_salary]

,Company name,Title,Domain,Position,Experience,Salary,Location,Min_experience,Max_experience,Min_salary,Max_salary
37,Công Ty Cổ Phần Giải Pháp Thanh Toán Việt Nam ...,Nhân viên quản trị cơ sở dữ liệu (DBA),CNTT - Phần mềm,Nhân viên,Trên 1 Năm,Trên 15 Tr VND,Hà Nội,1,-,15 Tr,-
121,Công Ty Cổ Phần Giải Pháp Thanh Toán Việt Nam ...,Lập trình viên SQL,CNTT - Phần mềm,Nhân viên,Trên 1 Năm,Trên 15 Tr VND,Hà Nội,1,-,15 Tr,-
169,Công Ty Cổ Phần Giải Pháp Thanh Toán Việt Nam ...,Nhân viên quản trị và triển khai hệ thống ITSM,Ngân hàng,Nhân viên,Trên 1 Năm,Trên 15 Tr VND,Hà Nội,1,-,15 Tr,-
250,CÔNG TY TNHH ASHTON FURNITURE CONSOLIDATION,Business Analyst,Kế toán / Kiểm toán,Nhân viên,Trên 5 Năm,Trên 16 Tr VND,Bà Rịa - Vũng Tàu,5,-,16 Tr,-

### Handling data about "Cạnh tranh"

In [493]:
# Finding index with have the phrase "Cạnh tranh" in salary field
index_canh_tranh_salary = df_merge[df_merge['Salary'].str.contains('Cạnh tranh')].index
index_canh_tranh_salary

Int64Index([  1,   3,   6,  10,  11,  13,  14,  15,  16,  18,
            ...
            367, 369, 370, 371, 373, 374, 375, 376, 378, 380],
           dtype='int64', length=192)

In [494]:
# with " Cạnh tranh", min and max salary will insert the word'Cạnh trạnh'
for i in index_canh_tranh_salary:
    df_merge.loc[i, 'Min_salary'] = 'Cạnh tranh'
    df_merge.loc[i, 'Max_salary'] = 'Cạnh tranh'
    print(df_merge.loc[i, 'Min_salary'] , df_merge.loc[i, 'Max_salary'])

Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh
Cạnh tranh Cạnh tranh

In [495]:
#recheck all the value in Min_salary column
df_merge['Min_salary'].unique()

array(['20 Tr', 'Cạnh tranh', '18 Tr', '12 Tr', '15 Tr', '30 Tr', '16 Tr',
       '1,000 USD', '25 Tr', '-', '11 Tr', '19 Tr', '10 Tr', '35 Tr',
       '600 USD', '17 Tr', '8 Tr', '500 USD', '1,500 USD', '40 Tr',
       '7,5 Tr', '22 Tr'], dtype=object)

In [496]:
#recheck all the value in Max_salary column
df_merge['Max_salary'].unique()

array(['27 Tr', 'Cạnh tranh', '25 Tr', '22 Tr', '15 Tr', '35 Tr', '18 Tr',
       '30 Tr', '45 Tr', '20 Tr', '-', '2,000 USD', '17 Tr', '1,500 USD',
       '1,000 USD', '12 Tr', '40 Tr', '50 Tr', '3,000 USD', '6 Tr',
       '10 Tr', '16 Tr', '2,500 USD', '60 Tr'], dtype=object)

## Handling data about Job Category

In [497]:
# Initiate 'Job Caegory' column with empty value
df_merge['Job_Category'] = np.nan

### Filter data with title "Data analyst"

In [498]:
# Finding index which belong to DA field
index_data_analysis = df_merge \
[df_merge['Title'].str.contains('Phân tích dữ liệu') | \
df_merge['Title'].str.contains('Data Analyst') | \
df_merge['Title'].str.contains('Data Analysis')| \
df_merge['Title'].str.contains('IT Data')| \
df_merge['Title'].str.contains('Financial AnalystH')].index
len(index_data_analysis)

41

In [499]:
#input the word" Data analyst" into the job_cat" column
for i in index_data_analysis:
    df_merge.loc[i, 'Job_Category'] = 'Data Analyst'
df_merge.loc[index_data_analysis] [['Title','Job_Category']]

                                                 Title  Job_Category
0                                         Data Analyst  Data Analyst
1                                         Data Analyst  Data Analyst
2                                         Data Analyst  Data Analyst
3                                         Data Analyst  Data Analyst
4                                         Data Analyst  Data Analyst
5                                         Data Analyst  Data Analyst
6                                         Data Analyst  Data Analyst
7                                         Data Analyst  Data Analyst
8                                      IT Data Analyst  Data Analyst
9                                  Senior Data Analyst  Data Analyst
10                                   Site Data Analyst  Data Analyst
11                                 Senior Data Analyst  Data Analyst
12                Giảng viên Data Analyst/ Data System  Data Analyst
14                                 Senior Data Analyst  Data Analyst
15                                 Senior Data Analyst  Data Analyst
16                               Customer Data Analyst  Data Analyst
17                                   Lead Data Analyst  Data Analyst
18                       Senior Data Analyst (Garment)  Data Analyst
19                            Chuyên Viên Data Analyst  Data Analyst
20        Chuyên viên Phân tích dữ liệu (Data Analyst)  Data Analyst
21   Chuyên viên Phân Tích Dữ Liệu - Data Analyst (...  Data Analyst
22                Senior Data Analyst - Hà Nội - TA139  Data Analyst
24              Data Analyst - Khối Dữ liệu (HO24.133)  Data Analyst
25   Chuyên viên Phân tích dữ liệu kinh doanh (Data...  Data Analyst
26   Tuyển Dụng Workforce Management/ Data Analyst ...  Data Analyst
27   Data Analyst (Workforce Management Analyst_Cal...  Data Analyst
28   Trưởng nhóm Phân tích Dữ liệu (Data Analyst Te...  Data Analyst
29   [Ha Noi] - Data Analyst/Chuyên Viên Phân Tích ...  Data Analyst
30   Chuyên viên cao cấp – Mô hình hóa & Giải pháp ...  Data Analyst
31   CVC/CVCC (Data Analyst) Phân tích kinh doanh (...  Data Analyst
32                                 Senior Data Analyst  Data Analyst
34                            Chuyên viên Data Analyst  Data Analyst
35        Chuyên Viên Phân Tích Dữ Liệu - Data Analyst  Data Analyst
82                    Chuyên viên Phân tích dữ liệu BA  Data Analyst
84    Chuyên viên Phân tích dữ liệu (Thu nhập 18-25tr)  Data Analyst
91                                             IT Data  Data Analyst
92                        Data Analysis & Data Science  Data Analyst
93                 Senior Data Analysis & Data Science  Data Analyst
100  Chuyên viên/Chuyên viên Cao cấp Phân tích dữ l...  Data Analyst
157                    IT Data Engineer/Administration  Data Analyst
376                     Data Analysis/Data Engineering  Data Analyst

### Filter data with title "Business Analyst"

In [500]:
# Finding index which belong to BA field
index_business_analysts = df_merge \
[df_merge['Title'].str.contains('Business Analyst') | \
df_merge['Title'].str.contains('Phân Tích Nghiệp Vụ') | \
df_merge['Title'].str.contains('Financial AnalystH')].index
len(index_business_analysts)

36

In [501]:
#input the word" Business Analyst" into the job_cat" column
for i in index_business_analysts:
    df_merge.loc[i, 'Job_Category'] = 'Business Analyst'
df_merge.loc[index_business_analysts] [['Title','Job_Category']]

                                                 Title      Job_Category
63             [DI6] IT Business Analyst - MSB - 1Y563  Business Analyst
86    Chuyên viên phân tích dữ liệu (Business Analyst)  Business Analyst
113          Business Analyst - Khối Dữ liệu (HO24.28)  Business Analyst
116         Business Analyst - Khối Dữ liệu (HO24.136)  Business Analyst
207                         Senior IT Business Analyst  Business Analyst
209  Chuyên viên Phân tích nghiệp vụ (IT Business A...  Business Analyst
210                                IT Business Analyst  Business Analyst
211                         Senior IT Business Analyst  Business Analyst
212                         Senior IT Business Analyst  Business Analyst
219                            Senior Business Analyst  Business Analyst
220                            Senior Business Analyst  Business Analyst
222                   Nhân Viên Phân Tích Nghiệp Vụ BA  Business Analyst
225           Senior Business Analyst (LOS/CRM System)  Business Analyst
235                97783 - Business Analyst - Software  Business Analyst
236                        Business Analyst Supervisor  Business Analyst
237                           Business Analyst Manager  Business Analyst
238           [PHENIKAA SMART SCHOOL] Business Analyst  Business Analyst
241  Software Detailed Design Engineer - Business A...  Business Analyst
249                                   Business Analyst  Business Analyst
250                                   Business Analyst  Business Analyst
251                                   Business Analyst  Business Analyst
252                                   Business Analyst  Business Analyst
264                         Business Analyst Associate  Business Analyst
265                  Business Analyst (Blockchain, AI)  Business Analyst
266                            Junior Business Analyst  Business Analyst
267                          Business Analyst (Senior)  Business Analyst
269              IT Project Manager & Business Analyst  Business Analyst
274  Business Analyst Executive - Digital Business ...  Business Analyst
275            Giảng viên bộ môn Business Analyst (BA)  Business Analyst
276           Business Analyst Expert - Hà Nội - TA139  Business Analyst
277  [Ngành Cảng] Nhân Viên Phân Tích Nghiệp Vụ Côn...  Business Analyst
287  Senior Business Analyst (Có kinh nghiệm về Ban...  Business Analyst
288    Business Analyst (Phân Tích Nghiệp Vụ Phần Mềm)  Business Analyst
290       Kỹ sư Phân tích nghiệp vụ - Business Analyst  Business Analyst
291      Senior Data Business Analyst - Hà Nội - TA139  Business Analyst
302  Chuyên viên Phân tích nghiệp vụ (Business Anal...  Business Analyst

### Filter data with title "Business Intelligence"

In [502]:
# Finding index which belong to BI field
index_business_intelligence = df_merge \
[df_merge['Title'].str.contains('Intelligence') | \
df_merge['Title'].str.contains('Business Intelligence')].index
len(index_business_intelligence)

17

In [503]:
#input the word" Business Intelligence" into the job_cat" column
for i in index_business_intelligence:
    df_merge.loc[i, 'Job_Category'] = 'Business Intelligence'
df_merge.loc[index_business_intelligence] [['Title','Job_Category']]

                                                 Title           Job_Category
67              Business Intelligence Advisory Manager  Business Intelligence
68                     Business Intelligence Developer  Business Intelligence
190                              Business Intelligence  Business Intelligence
191                              Business Intelligence  Business Intelligence
193                   Business Intelligence Consultant  Business Intelligence
195                       Senior Business Intelligence  Business Intelligence
196               Junior Business Intelligence Analyst  Business Intelligence
197        [Temporary] Business Intelligence Developer  Business Intelligence
198               Senior Business Intelligence Analyst  Business Intelligence
199  Senior Business Intelligence Analyst - Ecosyst...  Business Intelligence
200             Business Intelligence Analyst | meLive  Business Intelligence
201               Business Intelligence Senior Analyst  Business Intelligence
202                      Business Intelligence Manager  Business Intelligence
203  Unit Head of Digital Business Intelligence & S...  Business Intelligence
204  Senior Business Intelligence Analyst - Corpora...  Business Intelligence
205  [Ban Tài Chính - HO HN] Chuyên Viên Báo Cáo Qu...  Business Intelligence
253        Market Intelligence Manager (Food Industry)  Business Intelligence

### Filter data with title "Other"

In [504]:
# Finding index which not belong to BI,DA,BA field
index_otherjob = df_merge[df_merge['Job_Category'].isna()== True].index

index_otherjob

Int64Index([ 13,  36,  37,  38,  39,  41,  42,  43,  45,  46,
            ...
            367, 369, 370, 371, 373, 374, 375, 378, 380, 382],
           dtype='int64', length=196)

In [505]:
#input the word" Other" into the job_cat" column
for i in index_otherjob:
    df_merge.loc[i, 'Job_Category'] = 'Other'

In [506]:
df_merge.info() #recheck df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 0 to 382
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company name    290 non-null    object
 1   Title           290 non-null    object
 2   Domain          290 non-null    object
 3   Position        290 non-null    object
 4   Experience      290 non-null    object
 5   Salary          290 non-null    object
 6   Location        290 non-null    object
 7   Min_experience  290 non-null    object
 8   Max_experience  290 non-null    object
 9   Min_salary      290 non-null    object
 10  Max_salary      290 non-null    object
 11  Job_Category    290 non-null    object
dtypes: object(12)
memory usage: 37.6+ KB

In [507]:
df_merge.describe()

,Company name,Title,Domain,Position,Experience,Salary,Location,Min_experience,Max_experience,Min_salary,Max_salary,Job_Category
count,290,290,290,290,290,290,290,290,290,290,290,290
unique,133,269,26,9,38,54,13,10,12,22,24,4
top,Ngân Hàng TMCP Việt Nam Thịnh Vượng - VPBANK,Data Analyst,CNTT - Phần mềm,Nhân viên,3 - 5 Năm,Cạnh tranh,Hà Nội,2,-,Cạnh tranh,Cạnh tranh,Other
freq,15,8,112,224,42,192,147,79,90,192,192,196

## Save to a CSV file

In [508]:
df_merge.to_csv(r'F:\DATA ANALYST\Python\Merge_Data.csv', encoding ='utf-8-sig',index = False)